/* The magic is here */
/* ----------------- */

.form-field {
    position: relative;
}

/* You can use "input ~ label" selector too */
input+label {
    position: absolute;
    left: 20px;
    top: 1.15em;
    transition: transform 200ms ease;

    /* You have to use this to make it clickable through*/
    pointer-events: none;
}

input:focus+label,
input+label.freeze {
    font-size: 0.7em;
    font-weight: 400;

    /* Use "Translate" function instead of classic positioning for better performance */
    transform: translateY(-3em);
}
